#back{
    width: auto;
    height: 50px;
    padding-left: 15px;
}

#edit{
    width: auto;
    height: 50px;
}

#logo{
    width: auto;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

#homepage{
    width: auto;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#managepage{
    width: auto;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#searchpage{
    width: auto;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profilepage{
    width: auto;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contentMargin{
    padding-top: 15%;
    padding-bottom: 20%;
    margin-left: 7%;
    margin-right: 7%;
    height: 100%;
    
}

.btn{
    font-size: 20pt;
}

#profileImg{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

b{
    font-size: 35pt;
    font-weight: 400;
    color: #0095BF;
}

p{
    font-size: 30pt;
}

hr{
    border-top-color: rgb(0,201,255);
}

.smallIcon {
    width: 8.3%;
    float: left;
}
.logoIcon {
    width: 83.3%;
    float: left;
}

.botttomNavIcon{
    width: 25%;
    float: left;
}

.navbar{
    height: 100px;;
    margin-bottom: 0px;
    background-color: rgb(0,201,255);
}

.container{
  position: relative;
  top: 25%;
  width: 100%;
}


#profileBio{
    word-wrap: break-word;
}

.centerItem{
      display: block;
      margin-left: auto;
      margin-right: auto;
}

#logoutbut{
    height: 100px;
    width: 100%;
    font-size: 35pt;
    color: white;
    background-color:crimson;
    border-style: none;
    margin-top: 50px;
}


.applyerimg{
    object-fit: cover;
}

#uploadInfo{
    font-size: 20pt;
    text-align: center;
}